{% extends 'base.html' %}
{% block content %}
<div>
  <div class="container pt-4">
    <div class="row p-0 mt-4" style="margin-left: -50px">
      <!-- "ADD NEW NOTES" Div on the left -->
      <div class="col mx-auto shadow p-0">
        <div class="alert alert-info">
          <h2>ADD NEW NOTES</h2>
        </div>
        <div class="p-4">
          <form id="todo-form" action="{% if isEditing %}/update_todo/{{ todo.id }}/{% else %}/update_todo/{% endif %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <input type="submit" id="add-button" value="{% if isEditing %}UPDATE NOTE{% else %}ADD NEW NOTE{% endif %}" class="btn btn-info">
          </form>
        </div>
      </div>

      <!-- "Notes" Div in the middle -->
      <div class="col-md-6">
        <div class="border">
          {% if todos|length == 0 %}
          <div class="p-4">
            <br>
            <br>
            <div class="alert alert-info text-center">
              <p class="" style="font-size: 30px;">NO OF NOTES</p>
            </div>
            <br>
            <br>
          </div>
          {% else %}
          <div>
            <table class="table" style="font-size: 13px;">
              <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              {% for todo in todos %}
              <tr class="clickable-row" data-id="{{ todo.id }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ todo.title }}</td>
                <td>
                  {% if todo.status == 'C' %}
                  ✅
                  {% else %}
                  🕒
                  {% endif %}
                </td>
                <td>{{ todo.priority }}</td>
                <td>
                  <a href="/delete-todo/{{ todo.id }}" title="Delete" class="">🗑️</a>
                  {% if todo.status == 'P' %}
                  <a href="/change-status/{{ todo.id }}/C" title="Mark Completed" class="">✅</a>
                  {% else %}
                  <a href="/change-status/{{ todo.id }}/P" title="Mark Pending" class="">🕒</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>

      <!-- "Reminders" Div on the right -->
      <div class="col mx-auto shadow p-0 ml-auto" style="margin-left: 200px;">
        <div class="alert alert-success">
          <h2>REMINDERS</h2>
        </div>
        <div class="p-4">
          <p>Event :</p>
          <p>Location :</p>
          <p>Date :</p>
          <p>Time :</p>
          <!-- Add more reminders as needed -->
        </div>
      </div>

    </div>
  </div>
</div>

<!-- JavaScript Code -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var rows = document.querySelectorAll(".clickable-row");
    var isEditing = false;

    rows.forEach(function(row) {
      row.addEventListener('click', function() {
        var todoId = row.dataset.id;
        isEditing = true;  // Set the editing flag
        fetch(`/load_todo_details/${todoId}/`)
                .then(response => response.json())
                .then(todoDetails => {
                  document.getElementById('id_title').value = todoDetails.title;
                  document.getElementById('id_priority').value = todoDetails.priority;
                  document.getElementById('id_status').value = todoDetails.status;
                  updateButtonState();  // Call a function to update button state
                })
                .catch(error => console.error(error));
      });
    });

    // Function to update button state
    function updateButtonState() {
      var addButton = document.getElementById('add-button');
      if (isEditing) {
        console.log(isEditing)
        addButton.value = "UPDATE NOTE";
      } else {
        addButton.value = "ADD NEW NOTE";
      }
    }
  });
</script>

{% endblock %}
